name: Continuous Integration

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    container:
      image:  google/dart:beta
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.0.0'
      - run: flutter pub get
      - run: flutter format --set-exit-if-changed .
      - run: flutter analyze --fatal-infos --fatal-warnings .
      - run: flutter test
      - run: cd example && flutter build apk
